/* Reset styles and set a font-family for the entire page */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Background image styling */
#backgroundImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#backgroundImg img {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}

/* Header, main, footer styles */
header, main, footer {
  position: relative;
  z-index: 1; /* Set a higher z-index for content to appear in front of the background */
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2%;
}

#catchyPhrase  {
  text-align: center; 
  color: #fff;
  max-width: 100%;
  width: 100%;
  height: 10%;
  font-style: italic;
  font-size: 2em;
}

/* LogoLinks styles */
#logoLinks {
  display: flex;
}

#logoLinks a {
  margin-right: 10px; /* Adjust margin between the logos as needed */
}

#logoLinks img {
  width: 2.5em; /* Adjust the reduced size as needed */
  height: auto;
}

/* Main content styles */
main {
  padding: 2%;
}

/* Styling for the upper section */
#upperSection {
  display: flex;
  align-items: center;
}

div p {
  color: #fff;
  margin-right: 5%;
  margin-left: 10%;
  font-size: 1.75em;
  text-shadow: -1px -1px 1px #000,  
  1px -1px 1px #000,
  -1px 1px 1px #000,
  1px 1px 1px #000;
}

#upperSection img {
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 30%;
  max-width: 100%;
  width: 25%;
  height: auto;
}



/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  /* Add styles for smaller screens */
}
