body {
  margin: 0;
  padding: 0;
}

#backgroundImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#backgroundImg img {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}

header, main, footer {
  position: relative;
  z-index: 1; /* Set a higher z-index for content to appear in front of the background */
}

#headShot {
  border: 1px solid red;
  display: flex;
}

#headShot img {
  border: 1px red solid;

  padding: 1%;
  max-width: 100%;
  width: 20%;
  height: auto;
  margin-left:65%;
}